<div class='row col-md-8 col-md-offset-2'>
  <h1>NEW SCHEDULE</h1>

  <%= simple_form_for @schedule, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>

    <% @schedule.schedule_nodes.each do |node| %>
      <%= simple_fields_for node, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
        <%= f.input :title, label: 'Title' %>
      <% end %>
    <% end %>

    <%= f.button :submit, "Next Step" %>
  <% end %>

</div>
